[build]
builder = "NIXPACKS"
buildCommand = "npm install --legacy-peer-deps && cd frontend && npm install --legacy-peer-deps && npm run build"

[deploy]
# We use npx ts-node because the file is a .ts file
startCommand = "npx ts-node backend/src/index.ts"
restartPolicyType = "ON_FAILURE"

[envs]
NODE_VERSION = "20"
NIXPACKS_NODE_VERSION = "20"