[build]
builder = "NIXPACKS"
# Updated 'cd client' to 'cd frontend'
buildCommand = "npm install --legacy-peer-deps && cd frontend && npm install --legacy-peer-deps && npm run build"

[deploy]
# If your main server file is inside the backend folder, use this:
startCommand = "node backend/src/index.js"
restartPolicyType = "ON_FAILURE"

[envs]
NODE_VERSION = "20"
NIXPACKS_NODE_VERSION = "20"