[build]
builder = "NIXPACKS"
buildCommand = "npm install && cd client && npm install && npm run build"

[deploy]
startCommand = "node server/index.js" # Change index.js to your main server file name
restartPolicyType = "ON_FAILURE"
healthcheckPath = "/"